@(user: User, signupForm: Form[User])(implicit request: AuthenticatedRequest)

@import helper._
@import helper.twitterBootstrap._

@management(user) {
    <h1>Edit Your Profile</h1>
    @helper.form(action = routes.Management.update) {
        
        <fieldset>
            <legend>Account informations</legend>
            
            @inputText(
                signupForm("name"), 
                '_label -> "Name", 
                '_help -> "Your full name",
                '_error -> signupForm.globalError
            )
            
            @inputText(
                signupForm("email"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
            
            @inputPassword(
                signupForm("password.main"), 
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            
            @inputPassword(
                signupForm("password.confirm"), 
                '_label -> "Repeat password",
                '_help -> "Please repeat your password again.",
                '_error -> signupForm.error("password")
            )
            
        </fieldset>
     
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Apply">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
	}
}(Some(request))
