@(user: User, sales: List[(models.market.Sale, Option[models.cars.Model], Option[models.cars.Make])])(implicit request: AuthenticatedRequest)

@management(user) {
  <h1>Dashboard</h1>
    <div class="hero-unit">
      <h1>Welcome</h1>
      <h1>@user.name!</h1>
    </div>
    <div class="well summary">
      <ul>
        <li><a href="@routes.Market.listSalesByUserId(user.id.get)"><span class="count">@sales.length</span> Sales</a></li>
      </ul>
    </div>
    
    <h2>Current Sales</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Make</th>
          <th>Model</th>
          <th>Price</th>
          <th>Mileage</th>
        </tr>
      </thead>
      <tbody>
      
      @sales.map { 
        case (sale, model, make) => {
	        <tr>
	          <td>@make.get.name</td>
	          <td>@model.get.name</td>
	          <td>@sale.price</td>
	          <td>@sale.mileage km</td>
	          <td><a href="@routes.Market.showSaleById(sale.id.get)" class="view-link">View</a></td>
	        </tr>
            }
        }
      </tbody>
    </table>
    
}(Some(request))