@(user: User, signupForm: Form[(String, String)], changePasswordForm: Form[(String, String)])(implicit request: AuthenticatedRequest, flash: play.api.mvc.Flash)

@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@management(user) {
    <h1>Edit Your Profile</h1>
    
    @flash.get("success").map { message =>
    	<div class="alert alert-success">Done! @message </div>
    }
    
    @helper.form(action = routes.Management.update, 'class -> "form-horizontal") {
        
        <fieldset>
            <legend>Account informations</legend>
            
            @inputText(
                signupForm("name"), 
                '_label -> "Name"
            )
            
            @inputText(
                signupForm("email"), '_label -> "Email"
            )
            
        </fieldset>
     
        
        <div class="form-actions">
            <input type="submit" class="btn primary" value="Apply">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
	}
}(Some(request))
