@(signupForm: Form[User])(implicit request: AuthenticatedRequest)

@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@title = {
    Sign Up
}

@main {
    
    @helper.form(action = routes.SignUp.submit, 'class -> "form-horizontal") {
        
        <fieldset>
            <legend>Account informations</legend>
            
            @inputText(
                signupForm("name"), 
                '_label -> "Name",
                '_showConstraints -> false
            )
            
            @inputText(
                signupForm("email"), 
                '_label -> "Email",
               '_error -> signupForm.globalError,
               '_showConstraints -> false
            )
            
            @inputPassword(
                signupForm("password.main"), 
                '_label -> "Password",
                '_showConstraints -> false
            )
            
            @inputPassword(
                signupForm("password.confirm"), 
                '_label -> "Repeat password",
                '_error -> signupForm.error("password"),
                '_showConstraints -> false
            )
            
        </fieldset>
        
        
        <fieldset>
            
            @checkbox(
                signupForm("accept"), 
                '_label -> None, '_text -> "You agree the Terms and conditions",
                '_showConstraints -> false
            )
            
        </fieldset>
        
        <div class="form-actions">
            <input type="submit" class="btn-primary" value="Sign Up">
            <a href="@routes.Application.index" class="btn btn-info">Cancel</a>
        </div>
        
    }
    
}(Some(request))