@(modelForm: Form[ModelUnified])(implicit request: AuthenticatedRequest, flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Add a model</h1>
    
    @flash.get("success").map { message =>
      <div class="alert alert-success">Done! @message </div>
    }
    @flash.get("error").map { message =>
      <div class="alert alert-success">Error! @message </div>
    }
    
    @form(routes.Cars.save()) {
        
        <fieldset>
            @inputText(modelForm("name"), '_label -> "Model name")
	        @select(
	                modelForm("make"), 
	                Makes.options, 
	                '_label -> "Make",
	                '_showConstraints -> false
	            )

        
            @inputText(
              modelForm("year"), '_label -> "Year",
              '_error -> modelForm.error("year")
            )
            
            @inputText(
              modelForm("trim"), '_label -> "Trim",
              '_error -> modelForm.error("trim")
            )
            
            @inputText(
              modelForm("seats"), '_label -> "Seats",
              '_error -> modelForm.error("seats")
            )
            
            @inputText(
              modelForm("doors"), '_label -> "Doors",
              '_error -> modelForm.error("doors")
            )
            
            @inputText(
              modelForm("body"), '_label -> "Body",
              '_error -> modelForm.error("body")
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this model" class="btn primary"> or 
            <a href="@routes.Cars.listModels()" class="btn">Cancel</a> 
        </div>
        
    }
    
}(Some(request))