@(id: Long, modelForm: Form[Model])(implicit request: AuthenticatedRequest)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit model</h1>
    
    @form(routes.Cars.update(id)) {
        
        <fieldset>
            @inputText(modelForm("name"), '_label -> "Model name")
	        @select(
	                modelForm("make"), 
	                Make.options, 
	                '_label -> "Make", '_default -> "-- Choose a make --",
	                '_showConstraints -> false
	            )
	        @select(
                modelForm("aspiration"), 
                Aspiration.options, 
                '_label -> "Aspiration", '_default -> "-- Choose an aspiration type --",
                '_showConstraints -> false
            )
        
            @inputText(modelForm("introduced"), '_label -> "Introduced date")
            @inputText(modelForm("discontinued"), '_label -> "Discontinued date")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this model" class="btn primary"> or 
            <a href="@routes.Cars.listModels()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Cars.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this model" class="btn danger">
    } (request)
    
}(Some(request))