@(currentPage: Page[(models.cars.Model, Option[models.cars.Make], Option[models.cars.Aspiration])], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Cars.listModels(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
    <div class="page-header"><h1>@Messages("models.list.title", currentPage.total)</h1></div>
    

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.Cars.listModels()) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by model name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        }
        
        <a class="btn success" id="add" href="@routes.Cars.create()">Add a new model</a>
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { models =>
        
        <table class="table table-striped">
            <thead>
                <tr>
                	@header(2, "Make")
                    @header(8, "Model name")
                    @header(6, "Aspiration")
                    @header(3, "Introduced")
                    @header(4, "Discontinued")
                </tr>
            </thead>
            <tbody>
				
                @models.map { 
                    case (model, make, aspiration) => {
                        <tr>
                            <td><a href="@routes.Cars.edit(model.id.get)">@model.name</a></td>
                            <td>
                                @make.map(_.name).getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @aspiration.map(_.aspType).getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @model.introduced.map(_.format("dd MMM yyyy")).getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @model.discontinued.map(_.format("dd MMM yyyy")).getOrElse { <em>-</em> }
                            </td>                            
                            
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + models.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

        
}

            