@(filter: Form[Filter], salesFiltered: List[(models.market.Sale, Option[models.cars.Model], Option[models.cars.Make])])(implicit request: AuthenticatedRequest)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
 	@form(routes.Filter.save()) {	
 	
 	<ul class="nav nav-tabs">
			
		  <li class="dropdown">
		  	<a class="dropdown-toggle" data-toggle="dropdown"href="#">Make and Model<b class="caret"></b></a>
		  	<ul class="dropdown-menu">
		  		
		  		<div class="span6">
					<fieldset>
					
			          
        			</fieldset>
        			
		        </div>
			</ul>
		  </li>
		  <li class="dropdown">
		  	<a class="dropdown-toggle" data-toggle="dropdown"href="#">Engine<b class="caret"></b></a>
		  	<ul class="dropdown-menu">
				      <!-- links -->
			</ul>
		  </li>
		  <li class="dropdown">
		  	<a class="dropdown-toggle" data-toggle="dropdown"href="#">Fuel and Economy<b class="caret"></b></a>
		  	<ul class="dropdown-menu">
				      <!-- links -->
			</ul>
		  </li>  
		  
		  <li class="dropdown">
		  	<a class="dropdown-toggle" data-toggle="dropdown"href="#">Safety<b class="caret"></b></a>
		  	<ul class="dropdown-menu">
				      <!-- links -->
			</ul>
		  </li>
		  
		  <li class="dropdown">
		  	<a class="dropdown-toggle" data-toggle="dropdown"href="#">Price<b class="caret"></b></a>
		  	<ul class="dropdown-menu">
				      <!-- links -->
			</ul>
		  </li>
		  
		  <li class="dropdown">
		  	<a class="dropdown-toggle" data-toggle="dropdown"href="#">Year and Mileage<b class="caret"></b></a>
		  	<ul class="dropdown-menu">
				      <!-- links -->
			</ul>
		</li>
	</ul>
}

}(Some(request))