@(loginForm: Form[(String,String)])(implicit request: AuthenticatedRequest, flash: play.api.mvc.Flash)

@import helper._
@import helper.twitterBootstrap._ 


@main {
    <div class="hero-unit">
      <div class="row">
        <div class="span7">
          <h1>Please login</h1>
            <p>To access the great features, analytics and the ability to sell your car with us, please login.</p>
            <p>
              <a class="btn btn-primary btn-large">
                Learn more
              </a>
            </p>
        
        </div>
        <div class="span5">
        <br>
        <br>
        <br>
        <form class="form-horizontal" accept-charset="UTF-8" action="@routes.Authentication.authenticate" method="post" >
           <fieldset>
             <div class="control-group">
                <label class="control-label" for="email">Email address</label>
                <div class="controls">
                  <input name="email" id="email" type="text" />
                </div>
              </div>
              
               <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                 <input name="password" id="password" type="password"/>
                </div>
              </div>
              @flash.get("error").map { message =>
          <div class="alert alert-error">Error! @message </div>
        }
               <div class="form-actions">
                <input class="btn-primary" name="commit" type="submit" value="Log In" />
               <a class="btn btn-info" href="@routes.SignUp.form">Sign up</a>
              </div>
             
             
           </fieldset>
         </form>
            
        </div>
      </div>
    
    
      
    </div>
      

     
     
  
}(Some(request))