@(loginForm: Form[(String,String)])

@import helper._
@import helper.twitterBootstrap._ 
  
  <form style="margin: 0px" accept-charset="UTF-8" action="@routes.Authentication.authenticate" method="post" >
  
     <fieldset class='textbox' style="padding:10px">
       <legend>Login</legend> 
       <input name="email" id="email" style="margin-top: 8px" type="text" placeholder="Email Address" />
       <input name="password" id="password" style="margin-top: 8px" type="password" placeholder="Passsword" />
       <input class="btn-primary" name="commit" type="submit" value="Log In" />
     </fieldset>
  </form>
