@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>App that probably won't be completed</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>    
        <div class="navbar">
  			<div class="navbar-inner">
   				 <div class="container">
      		     	<a class="brand" href="@routes.Application.index()">
                   		App that probably won't be completed
                	</a>	
    			 </div>
  			</div>
		</div>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>